# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
/build
.gradle
gradlew
gradlew.bat
/gradle/wrapper
/mcmodsrepo

# other
eclipse
run
run-data